<main class="menu">
  <h1>Bienvenido a Cardio Express, tu mejor biblioteca de ejercicios a consultar</h1>
  
  <div class="carousel-container">
    <div class="carousel">
      <div class="slide">
        <img class="arduinos" src="" alt="general">
      </div>
      <div class="slide">
        <img class="arduinos" src="" alt="componentes">
      </div>
      <div class="slide">
        <img class="arduinos" src="" alt="placa 2">
      </div>
      <div class="slide">
        <img class="arduinos" src="" alt="placas arduino">
      </div>
      <div class="slide">
        <img class="arduinos" src="" alt="sensores arduino">
      </div>
     
    </div>
    <p>
      Mapa del sitio web
      <img class="arduinos" src="" alt="gim">
    </p>
  </div>
</main>
