
<div class="about-container">
    <img class="logo_corp" src="" alt="logo">
    <h1>Acerca de nosotros</h1>
  
    <table class="custom-table">
        <thead>
            <tr>
                <th>Misión</th>
                <th>Visión</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
            
                </td>
                <td>
                   
                </td>
            </tr>
        </tbody>
    </table>
    <h2>
      
    </h2>
    <p>
        
    </p>
    <p>
        

        
    </p>
    <h3>
        Dirección de la instalación
    </h3>
    <p>
        Alfonso Humberto 302, Bulevar, 20270 Aguascalientes, Ags. Int #2
    </p>
    <p>
       <img src="../assets/img/ubi_local_maps.jpg" class="ubi_local_maps">
       <img src="../assets/img/ubi_local.jpeg" class="ubi_maps">
    </p>

  </div>
  